.font-family {"Poppins", sans-serif;}


/* 
/* .jadoo {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .body {
  font-family: "Inter", sans-serif; */

.hero-ul {
  display: flex;
  /* column-gap: 50px;
  margin-right: ; */
}

.hero-heading {
  color: #df6951;
  font-weight: 700;
  font-size: 20px;
  /* font-family: poppins; */
}

.hero-heading1 {
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  color: #181e4b;
} */ */
